body{
	font-family:arial;
}
header{
	background-color:#0000FF;
}
h1{
	color:#000055;
	text-align:center;
	font-size:150%;
}
header p{
	font-size:125%;
}
a{
	color:#0000FF;
	text-decoration:none;
}
dd{
	font-style:italic;
}
@media not print{
	footer{
		display:none;
	}
}
dt{
	font-size:125%;
}
dl{
	background-color:#00FFCC;
}
body{
	background-color:#00FF00;
}
dl,header{
	margin:3px;
}