html{
	font-family:arial;
	background-color:#CCCCCC;
	margin:24px;
}
header{
	background-color:#7777FF;
}
h1{
	color:#000055;
	text-align:center;
	font-size:200%;
}
header p{
	font-size:125%;
	text-align:center;
}
a{
	color:#0000FF;
	text-decoration:none;
}
dd{
	font-style:italic;
}
@media not print{
	footer:not(.fp){
		display:none;
	}
}
dt.mainpage{
	font-size:125%;
}
dl.mainpage{
	background-color:#00FFCC;
}
dl,header{
	margin:3px;
}
nav a{
	display:block;
}
nav.topnav a{
	display:inline-block;
	width:33%;
	text-align:center;
	background-color:#FF99CC;
	height:20px;
}
nav.topnav a:hover{
	background-color:#C0C0C0;
}
header p a, header nav:not(.topnav) a{
	color:#FF99CC;
	text-decoration:underline;
}
nav:not(.topnav),section{
	background-color:#00FFCC;
}
nav:not(.topnav) a{
	margin:4px;
}
dl{
	background-color:inherit;
}
dt{
	font-size:100%;
}
h2{
	font-size:125%;
}
nav.botnav a{
	display:inline;
	font-size:140%;
}
nav.botnav{
	background-color:inherit;
	text-align:center;
}
footer.fp{
	clear:both;
	background-color:#00CCFF;
}
img.fp{
	width:120px;
}
h2.fp{
	font-size:150%;
	background-color:#00CCFF;
}
section.fp{
	display:inline-block;
	width:30%;
	float:left;
	background-color:inherit;
	margin:5px;
}