html{
	font-family:arial;
	background-color:#00FF00;
	margin:12px;
}
header{
	background-color:#0000FF;
}
h1{
	color:#000055;
	text-align:center;
	font-size:200%;
}
header p{
	font-size:125%;
}
a{
	color:#0000FF;
	text-decoration:none;
}
dd{
	font-style:italic;
}
@media not print{
	footer{
		display:none;
	}
}
dt.mainpage{
	font-size:125%;
}
dl.mainpage{
	background-color:#00FFCC;
}
dl,header{
	margin:3px;
}
nav a{
	display:block;
}
nav.topnav a{
	display:inline-block;
	width:30%;
	float:right;
	text-align:center;
	margin:2px;
	background-color:#FF99CC;
}
nav.topnav a:hover{
	background-color:#C0C0C0;
}
header{
	clear:both;
}
header p a, header nav:not(.topnav) a{
	color:#FF99CC;
	text-decoration:underline;
}
nav:not(.topnav),section{
	background-color:#00FFCC;
}
nav:not(.topnav) a{
	margin:4px;
}
dl{
	background-color:inherit;
}
dt{
	font-size:100%;
}
h2{
	font-size:125%;
}